@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    margin-bottom: 1.5rem;
    padding: 1rem;
}

ul li{
    display: inline;
    margin: 0.5rem;
    cursor: pointer;
}

#jumbotron img{
    width: 250px;
    margin-bottom: 1rem;
}

#jumbotron .title{
    font-size: 1.5rem;
    text-align: center;
}

#jumbotron button{
    padding: 0.5rem;
    background-color: black;
    color: #fff;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.dTb-mA{
    display: table;
    margin: auto;
}